.sidebar {
  min-width: 200px;
  background-color: #2d2d2d;
}
.logo {
  display: block;
  margin: 0 auto;
  width: 150px;
  height: 75px;
  object-fit: contain;
}
.sidebarLogo {
  height: 100px;
}

.sidebarFixed {
  position: sticky;
  top: 0;
}

.sidebarItem {
  position: relative;
  z-index: 2;
  display: block;
  text-align: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  overflow: hidden;
  text-decoration: none;
  border-bottom: 0.5px solid gray;
}
.sidebarItem:hover {
  color: black;
}
.sidebarItem::after {
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  z-index: -1;
  display: block;
  content: "";
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.sidebarItem:hover::after {
  left: 0;
  background-color: white;
}

.link {
  color: white;
  text-decoration: none;
  display: block;
  height: 50px;
  line-height: 50px;
}

.link:hover {
  color: #2d2d2d;
  text-decoration: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
