.main {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/top.jpg);
  background-size: cover;
  height: 100%;
  min-height: 100vh;
  opacity: 1.5;
}

.header {
  padding-right: 200px;
}

.content {
  padding-right: 200px;
}

.logo {
  text-align: center;
}

.logo img {
  width: 200px;
}

.leadText {
  margin-bottom: 4rem;
}

.leadText p {
  margin: 2rem;
  text-align: center;
  font-size: 1.2rem;
  color: #cdcdcd;
}

.startUp {
  text-align: center;
}

.btn {
  cursor: pointer;
  text-decoration: none;
  display: block;
  height: 50px;
  line-height: 50px;
  padding: 0 1rem 0 1rem;
  margin-left: 3rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #cfcfcf;
  color: #cdcdcd;
}

.btn:hover {
  opacity: 0.8;
}

.modalTitle {
  margin: 1rem;
}

.small {
  font-size: 0.7rem;
}